[Unit]
Description=test
After=network.target

[Service]
User=zack
#ExecStart=/bin/bash /home/zack/remote/reverse_tunnel.sh
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -R 10002:localhost:22 -i /home/zack/remote/pair2.pem ubuntu@52.73.17.253
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
