# Packages to install with pip into new virtual environments
# Not specifying version numbers since I prefer having the most updated packages
Django
Flask
ipython
jupyter
# matplotlib is super slow to install 
# matplotlib
numpy
protobuf
